.container {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.commentZone {
    width: 350px;
    background-color: white;
    border-left: 1px solid rgb(239, 243, 244);
    overflow: auto;
}