.main {
    width: 600px;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.searchTop {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    border-color: rgb(239, 243, 244);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 600px;
    position: fixed;
}
.searchZone {
    display: flex;
    align-items: center;
}

.buttonZone {
    width: 56px;
}

.formZone {
    fleX: 1;
    height: 53px;
    width: 526px;
}

.list {
    margin-top: 110px;
}